<ion-view title="Mi app - Registro de usuario">
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="loginData.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.passwordRep">
                </label>
                <label class="item item-input">
                    <span class="input-label">Nombre</span>
                    <input type="password" ng-model="loginData.nombre">
                </label>
                <label class="item item-input">
                    <span class="input-label">Fecha de nacimiento</span>
                    <input type="date" ng-model="loginData.fnac">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="button">Registrate</button>
                </label>

            </div>
        </form>

    </ion-content>
</ion-view>